{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "target": "es6"
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true, // Default
    "lazy": false, // Default
    "noInterop": false // Default
  }
}
